@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap');

.horizontal-scroll::-webkit-scrollbar{
  background-color: black;
  width: 5px;
  height: 8px;
}

.horizontal-scroll{
  overflow-x: auto;
}

.horizontal-scroll::-webkit-scrollbar-thumb{
  background-color: var(--azulelectrico);
  border-radius: 10px;
}


#root {
  --azulelectrico: #0A84FF;
  --rojoanaranjado:#FF6347;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #2E2E2E;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
  color: var(--azulelectrico); 
  text-shadow: 5px 5px black
  
}

.mainSection{
  flex-grow: 1;
}

.logo{
  height: 110px;
}

.btn {
  font-family: 'Orbitron', sans-serif;
  background-color: #FF4500; 
  color: #FFFFFF; 
  padding: 10px 20px;
  cursor: pointer;
}
.btn-social {
  font-family: 'Orbitron', sans-serif;
  background-color: #FF4500; 
  color: #FFFFFF; 
  cursor: pointer;
}

.btn:hover{
  background-color: var(--rojoanaranjado)
}

.fondo{
  background-color: #1b1b1b;
}

.img-carousel{
  height: 700px; 
  object-fit: cover;
  object-position: center center;
}

.cardDestacado{
  background-color: #1b1b1b;
  color: #fff;
  border: none;
  box-shadow: 10px 10px 10px black;
  width: 500px;
}

p{
  font-size: 20px;
  line-height: 2rem;
  text-shadow: 4px 4px black;
}

@media all and (max-width: 767px){
  .img-carousel{
    height: 300px; 
    object-fit: cover;
    object-position: center center;
  }
  .cardDestacado{
    width: 300px;
  }
}